<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .logoutButton{
            float:right;
        }
        .returnIndex{
            float: left;
        }
    </style>
</head>
<body>
<div>
    <div class="returnIndex">
        <a href="/index"><button>返回主页</button></a>
    </div>
    <div class="logoutButton">
        <form action="/logout" method="get">
            <button class="right-button" name="注销" type="submit">注销登陆1</button>
        </form>
    </div>
</div>
<h1 align="center">ADD</h1>
</body>
</html>